<div class="culturefeed-ui culturefeed-profile">
    <h3>{{ title }}</h3>
    <img src="{{ user.depiction }}?maxwidth=100" alt=""></div>
    <p>{{ user.bio }}</p>
    <a href="{{ edit_profile_link }}">{{ edit_profile_title }}</a>
</div>
