{% if accountType %}
<div class="type {{ accountType }}"><span>{{ accountType }}</span></div>
{%- endif -%}

{% if account.accountDepiction %}
<img class="depiction" src="{{ account.accountDepiction }}?maxwidth=50&maxheight=50&crop=auto">
{%- endif -%}

{% if account.accountNick %}
<span class="small quiet">{{ account.accountNick }}</span>
{%- endif -%}

{% if publishLink %}
<div class="publish">{{ publishLink }}</div>
<div class="privacy-statement">{{ privacyStatement }}</div>
{%- endif -%}

{% if connectLink and not disconnectLink %}
<div class="connect">{{ connectLink }}</div>
{%- endif -%}

{% if disconnectLink %}
<div class="disconnect">{{ disconnectLink }}</div>
{%- endif -%}
